{%extends "layout.html"%}
{%block content%}
  <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1>Capture<span class="em-text">Life</span></h1>
            <p>Capture and share your memories in a quick manner</p>
            <a href="#"><img class="app-btn" src="\static\img\icon_app_store.png" alt=""></a>
            <a href="#"><img class="app-btn" src="\static\img\icon_google_play.png" alt=""></a>
          </div>
          <div class="col-lg-6">
            <img class="showcase-img" src="\static\img\site_phone.png" alt="">
          </div>
        </div>
      </div>
  </div>
  <section id="middle">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <img class="demo1" src="\static\img\demo1.jpg" alt="">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Fugit quae quod nam facilis perferendis cumque rem unde laudantium eum 
              est voluptates necessitatibus odit fugiat, beatae,
              optio modi quam. Error, corporis!
            </p>
            <a href="#" class="btn btn-outline-secondary" role="button"> Read more</a>
        </div>
        <div class="col-lg-4">
          <img class="demo1" src="\static\img\demo3.jpg" alt="">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Fugit quae quod nam facilis perferendis cumque rem unde laudantium eum 
              est voluptates necessitatibus odit fugiat, beatae,
              optio modi quam. Error, corporis!
            </p>
            <a href="#" class="btn btn-outline-secondary" role="button"> Read more</a>
        </div> <div class="col-lg-4">
          <img class="demo1" src="\static\img\demo2.jpg" alt="">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Fugit quae quod nam facilis perferendis cumque rem unde laudantium eum 
              est voluptates necessitatibus odit fugiat, beatae,
              optio modi quam. Error, corporis!
            </p>
            <a href="#" class="btn btn-outline-secondary" role="button"> Read more</a>
        </div>
      </div>

    </div>
  </section>

  <section id='feature'>
    <div class="container">
      <div class="row">
        <div class="col-5">
          <h1>Gamma Feats</h1>
          <ul>
            <li><i class="fa fa-check" aria-hidden="true"></i> Lorem Ipsum </li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Lorem sumpi </li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Lorem Nyasinga </li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Lorem Template </li>
          </ul>
        </div>
        <div class="col-lg-4 offset-lg-2">
          <img class="bid-logo" src="\static\img\logo.png" alt="">
        </div>
      </div>
    </div>
  </section>
{%endblock%}

