$very-dark-grey : #555;
$very-light-gray:#e7e7e7;
$dark-cyan: #1caa98;
$very-dark-blue:#1b222a;


body{
    padding-top:50px; 
}
.navbar{
    padding: 0;
}
.nav.navbar-nav{
    .nav-link{
        padding: 0.85rem 1rem;
    }
    .active{
        .nav-link{
            color: $very-dark-grey;
            background: $very-light-gray;
        }
    }
}
.navbar-brand{
    padding: .65rem;
}
.em-text {
    color: $dark-cyan !important; //color to te texts
}

.col-lg-4{
    margin-bottom: 20px;
}

//to acoid Cluter on the piks

section{
    padding: 40px 0 40px 0;// top left  bottom right
}
.jumbotron{
    background: $very-dark-blue url(../img/site_showcase_bg.jpg ) no-repeat top center; //the last two are the allighnmrnt
    color:white;
    height: 500px;
    overflow: hidden;
  
}
//text inside the jumbotron
.jumbotron h1{
    margin-top: 60px;
}
.jumbotron p{
    margin-bottom: 40px;
}
//the two buttons inside the jumbotron
.jumbotron img.app-btn{
    width: 40%;
    margin-top: 30px;
}
//showcase image
.jumbotron img.showcase-img{
    width: 75%;
}
// the image demo styling
img.demo1{
    width: 100%;
    padding: 3px;
    border: 1px solid darken(black,80%);
}
//section id ni feature .. #id -> fearure
section#feature{
    background: $dark-cyan;
    color: white;
    padding: 40px;
    overflow: auto;
}
// this will take care of the texts inside the section div, feature id , the ul and li
section#feature ul li {
    font-size: 22px;
    list-style: none;
    line-height: 2.0em;
}
section#feature ul{
    padding:0;
    margin: 0;

}
section#title-bar{
    padding: 0;
    margin: 0;
    height: 80px;
    background: $dark-cyan;
    color: white;
}
section#title-bar h1{
    margin: 1rem 0;
}
footer{
    background: lighten(black,$amount: 20%);
    color:white;
    padding: 30px 0 20px 0;
}
footer li{
    list-style: none;
    padding: 0 10px 0 10px;
    float: left; // this is to  maek the element slant to the left
}
footer a {
    color: white;
}
footer p {
    float: right;
}
#accordion{
    margin-bottom: 20ox ;

}
.card{
    + .card{margin-top: 5px;}//adjascent sibling combinator ...  because they have the same parent pu thr cards ina sequence so that one follows the other
    .card-header{
        h6{font-weight: normal;}
        a{color: inherit;}
    }
    .card-body{
        color: black;
    }
    a{
        text-decoration: none;
    }
}

// media queries to load the css acording to accessing device
@media(min-width:1200px){ // whhen the media reaches this width the following actions will bw triggered
    .jumbotron img.showCase-img{
        width: 61%;
        margin: 5px 0 0 4px;
    }
} 
@media(min-width:991px){
     .showCase-img{
         display: none;
     }
}
@media(min-width:76px ) and (max-width:990px){
    .jumbotron img.app-btn{
        width: 30%;
    }
    .jumbotron{
        height: 400px !important;
        background-size: 100% 100%;

    }
    .jumbotron h1{
        margin-top: 10px;
    }
} 
@media(max-width:768px){
 .jumbotron{
     height: 350px;
     background-size: 100% 100%;
 }
 .jumbotron h1{
     margin-top: 10px;
 }
}
@media(max-width:500px){
    
}
